[2014-12-15 11:14] saulomeirelles opened #2 "Datetime as input"
Hi all,

The numpy function "np.isnan" is incompatible with datetime. The following error is risen when using datetime:

...\utide\ut_slvinit.pyc in ut_slvinit(tin, uin, vin, **opts)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

 I would recommend to replace np.isnan with pd.isn

[2014-12-15 14:07] saulomeirelles opened #3 "NaN output"
Hi all,

I compared the performance of the harmonic analysis for the same series using Matlab and Python. I ran "ut_solv" followed by "ut_reconstr" for u and v velocity components. In Matlab, the output was as expected but in Python I got just NaN's. It is hard to find out where the problem is because no errors popped up while running.

Any thoughts?

Cheers,

Saulo

[2015-02-10 19:14] ocefpaf opened #6 "Describe inputs/outputs"
Most of the functions do not describe the type of the expected input nor the output.

- [ ] Time is a `datetime` object or a matplotlib `date2num`?
- [ ] The time series are numpy arrays or lists or both?
- [ ]  Is `vin` optional?  If so can it be initiate as vin=None?

[2015-02-10 19:32] ocefpaf opened #7 "Avoid reading `ut_constants.mat` multiple times"
`ut_constants.mat` is loaded in `__init__.py` and then re-loaded several times throughout the module.

[2015-02-12 00:51] ocefpaf opened #10 "Build tests"
UTide needs some test to help developers/contributors evaluate the changes quickly.

[2015-02-12 00:51] ocefpaf opened #11 "Convert to python3"
- [ ] Convert to python3

[2015-02-12 13:08] wesleybowman commented on #11
For this, we would definitely want to have support for both 2 and 3, since a large majority of the scientific community uses 2, including some people already using this version of UTide for their projects.

[2015-02-12 13:16] ocefpaf commented on #11
Sure!  Both python veersions should be supported to allow a smooth transition.

Here are the options I know:
1. `six`
2. "common syntax" between py2.7` and `py3`
3. automatic conversion using `2to3`.

I used 3 before but, even though it is the easiest/fastest way, it is a bad choice in the long run because we just delay a real conversion to python3.

In my experience 2 works better: it reduces the

[2015-02-12 13:53] wesleybowman commented on #11
I wouldn't think below 2.7 would be needed. If we go too much support then it makes it near impossible to maintain for everything.

[2015-02-12 14:45] ocefpaf commented on #11
Great!  if the goal is 2.7 and up  I will cook up another PR soon.

[2015-02-12 19:02] ocefpaf commented on #11
@wesleybowman Before I start let me know how you feel about PR #9.  To avoid merge conflicts in the future.

[2015-02-13 00:59] ocefpaf commented on #10
@wesleybowman I want to create a list of issues, bugs, and expected behavior to start writing some tests.  For now I have #2 and #3 to start with.  If @saulomeirelles could provide a [sscce](http://sscce.org/) with those issues it will help a lot.  (I have zero experience running UTide.)

PS1: The sscce can be in Matlab and with fake data.  We want to be sure we get the same result as MatlabTM :gr

[2015-02-13 15:13] wesleybowman commented on #10
Ok, I have some test that I ran when I was creating it. It would run the python for a randomly generated data set, then save the results and then run the matlab and save the results, and then compare the two results. I did not know you could run matlab in Ipython, that's pretty neat. I will try to get your the scripts later today. I will probably just send them in an email, because they were a lit

[2015-02-13 15:14] #11 closed

[2015-02-13 15:23] ocefpaf commented on #10
Great.  I will see if I can organize them as a test suite.

PS: If UTide works with octave we can try to run something similar to what I did for seawater:

https://github.com/ocefpaf/python-seawater/blob/master/seawater/test/test_result_comparison.py

I run both Matlab (via octave) and python version and compare the results.

[2015-02-13 21:07] saulomeirelles commented on #10
Hi guys, really sorry for the late answer. I' ve been busy with other
things for few months and did not have time to look at the UTide issues. I
am abroad now with limited access to my dataset. In early March I will have
time to come back to you guys again. Cheers,

Sent from my smartphone. Please forgive typos.
On Feb 13, 2015 1:59 AM, "Filipe" <notifications@github.com> wrote:

[2015-02-24 22:00] efiring commented on #7
@ocefpaf, are you working on this one, or should I have a look at it?

[2015-02-24 22:04] efiring opened #13 "Pythonic naming: remove all the 'ut_' prefixes"
@wesleybowman Would you support a PR to simplify the naming by removing all use of "ut_"?  The module would then be used as
[code]
This is how we are handling the TEOS-10 gsw module.

[2015-02-24 23:02] ocefpaf commented on #7
I am not working on this right now.  If you have some spare time please... (We could use some of your magic here.)

[2015-03-26 06:53] efiring commented on #7
This is closed by #14.  I should have put that in the commit message so that it would happen automatically, but I didn't, so someone has to close it manually.  I can't.

[2015-03-26 09:34] ocefpaf commented on #7
Thanks @efiring!

[2015-03-26 09:34] #7 closed

[2015-03-27 10:31] ocefpaf commented on #13
:+1:

[2015-03-27 18:52] wesleybowman commented on #13
This sounds great. Looks more pythonic as well.

[2015-03-28 02:40] iflament opened #16 "lmbscgc & lmbscga in progress"
Hi! A short message to notify everyone that I am working on the lmbscgc & lmbscga functions (to avoid work overlap).

[2015-03-28 19:26] ocefpaf commented on #16
@iflament I am not sure [this code](https://github.com/ocefpaf/python-ssa-mtm/blob/master/lomb_periodogram.py) is helpful.  It is a Matlab code translation that I used in the past.

Good luck!  Lookinf forward to `lmbscgc` and `lmbscga` :wink:

[2015-03-28 20:53] efiring commented on #13
#15 addresses enough of this that I think we can close the issue.

[2015-03-28 20:53] #13 closed

[2015-04-21 12:48] ocefpaf opened #21 "Variable default value should not be a list"
We have two variables with a list as default value here:

https://github.com/wesleybowman/UTide/blob/master/utide/robustfit.py#L7

That is not recommended (See http://docs.python-guide.org/en/latest/writing/gotchas).

@wesleybowman Also, this function does not return anything and this module appears to incomplete.  I am removing it from the tests for now.  But we should add it again once it is don

[2015-04-21 13:09] wesleybowman commented on #21
Yeah, it is incomplete since I had hit a roadblock. I think @efiring is writing the correct one though? I am not sure.

[2015-04-21 13:25] ocefpaf commented on #21
OK.  So it is safe to leave it out of the tests.  Thanks!

[2015-04-21 13:25] #21 closed

[2015-06-14 22:58] ocefpaf commented on #16
@efiring and @iflament I am not sure if this algorithm is adequate for Utide, but I think it is worth taking a look:

http://www.astroml.org/gatspy/

There is also a blog post about it [here](https://jakevdp.github.io/blog/2015/06/13/lomb-scargle-in-python/).

[2015-06-14 23:35] efiring commented on #16
@ocefpaf We have already taken care of the L-S algorithms.

[2015-06-14 23:37] efiring commented on #16
@iflament I think you can close this.  I can't.

[2015-06-14 23:52] #16 closed

[2015-06-15 13:14] ocefpaf commented on #16
Thanks @efiring.

[2016-02-13 09:50] saulomeirelles opened #30 "BUG: Python stops working when importing utide on Windows platform"
Hi everyone,

I recently updated my Utide package on Windows 7 64-bit. Now every time I import utide, Python simply stops working and the program closes down. @ocefpaf has done some tests and confirmed the bug. I am using the following versions:

Scipy 0.17.0
Python 2.7.11
UTide 0.1

I ran my scripts on Linux and all went well.

Cheers, Saulo

[2016-02-13 10:16] ocefpaf commented on #30
I narrowed it down to the `from utide.utilities import loadmatbunch`, so it might be a bug in scipy.  I will look into it.

[2016-02-13 10:42] ocefpaf commented on #30
I downgrading to `scipy 0.16.0` fixes the problem on my WindowsXP-32 VM.

@efiring `loadmatbunch` is used in many libraries, did you get any report about it failing in other places with `scipy >0.16.1`?

[2016-02-13 10:56] saulomeirelles commented on #30
Thanks, @ocefpaf ! That also worked for me.

[2016-02-13 17:38] efiring commented on #30
https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/0OMcBlfWR_A might be the same thing.
@saulomeirelles, can you try using scipy 0.17 to read the ut_constants.mat file?  If that fails, as I expect it will, then you could use that file as the test case in filing a bug report with scipy.  This is quite serious.

[2016-02-20 14:25] saulomeirelles commented on #30
Hi @efiring and @ocefpaf,

Scipy 0.17 failed to read ut_constants.mat on Windows platform.

Please refer to the attachment to check the log file and the script.

[utide_test.zip](https://github.com/wesleybowman/UTide/files/139172/utide_test.zip)

Traceback (most recent call last):
  File "<ipython-input-6-980ebc9bb459>", line 2, in <module>
    tide_cnstit = spio.loadmat(mat_file[0])
  File "C:\Us

[2016-02-20 16:02] efiring commented on #30
@saulomeirelles, somehow you have gotten an html file in place of ut_constants.mat. The real ut_constants.mat is small:
[code]
The file in your zipfile, which gives me the "version 47,47" error when I try to read it with scipy 0.16, is large:
[code]
and by opening it in a text editor you can verify that it is html.
It looks like you tried to download it from github, and you got the html download p

[2016-02-20 17:30] saulomeirelles commented on #30
Ough! My bad! I'll check that asap.

Sent from my smartphone. Please forgive typos.
On Feb 20, 2016 5:02 PM, "Eric Firing" <notifications@github.com> wrote:

[2016-02-20 18:58] saulomeirelles commented on #30
Hi @efiring,

Python stopped working when loading ut_constant.mat. I did not even get the trace back message in the log file. You can find the script and other files in the attachment.

I've tested in different Scipy version. Apparently, Python crashes in all versions > 0.16.0.

[utide_test.zip](https://github.com/wesleybowman/UTide/files/139303/utide_test.zip)

[2016-02-20 20:12] ocefpaf commented on #30
Saulo,

I am traveling (without a computer), but as, Eric said, that must be
reported. I can help you once I get back home.
On Feb 20, 2016 5:50 PM, "Eric Firing" <notifications@github.com> wrote:

[2016-03-29 14:51] wesleybowman opened #31 "BUG: KeyError: "Update keys don't match existing keys"
An error gets thrown when solve is run:
[code]
returns:
[code]

Trying:
[code]

still results in the error. A more detailed error report is as follows:
[code]

[2016-03-29 15:59] efiring commented on #31
This is not a bug, it reflects evolution of the API.  See the docstring for `solve`.

[2016-03-29 16:11] wesleybowman commented on #31
Do we have an example that I can get the user to try then? We might want to update the readme

[2016-03-29 16:26] efiring commented on #31
Good point--I was not paying attention to the README.md.  I can update that later today.  In the meantime, see tests/test_solve.py  Refer the user to that and to the docstring.

[2016-04-01 21:09] #31 closed

[2016-04-14 12:52] ocefpaf commented on #30
@efiring Would you be OK to provide a `npz` version of the data instead? It seems that the issues opened (https://github.com/scipy/scipy/issues/5882 and https://github.com/ContinuumIO/anaconda-issues/issues/650) will remain unresolved for a while...

[2016-04-14 16:05] efiring commented on #30
I think there can be python2/3 compatibility problems with npz.  If those problems are not triggered by what we need to store here, then using npz is fine.  Otherwise we could switch to netcdf and use the scipy netcdf reader.  I could look into this in the next couple of days; but if you want to do it, that's fine too.

[2016-04-14 16:11] ocefpaf commented on #30
I have a PR for `npz` almost ready. But I do like the netcdf idea.

[2016-04-14 17:48] #30 closed

[2016-04-14 18:01] ocefpaf opened #35 "New release with latest master"
@wesleybowman fixing #30 solves a problem for many people on Windows. Would you mind tagging a new release? Maybe also send it to PyPI?

[2016-04-14 18:33] wesleybowman commented on #35
Yeah, I will try and get those done tonight

[2016-04-15 19:28] #35 closed

[2016-04-15 19:29] ocefpaf commented on #35
Thanks @wesleybowman!

[2016-04-16 14:38] wesleybowman commented on #35
@ocefpaf We are live on PyPI as well! [Here it is!](https://pypi.python.org/pypi/UTide/0.1.0)

[2016-04-16 17:31] ocefpaf commented on #35
Awesome! Thanks for doing this @wesleybowman!!

[2016-04-17 09:20] ocefpaf commented on #30
@saulomeirelles you can install the latest version using conda and the conda-forge community channel:

[code]

That should work on Windows now.

[2016-04-25 11:09] ocefpaf commented on #10
There is room for improvement, but this task is complete. Closing the issue.

[2016-04-25 11:09] #10 closed

[2016-04-25 11:10] ocefpaf commented on #6
A lot has changed since I created this issue and most of those were either addressed or they no longer apply. Closing the issue.

[2016-04-25 11:10] #6 closed

[2016-04-25 18:48] efiring commented on #2
@saulomeirelles To date, there has never been any intention of supporting an input array of datetime instances, whether generated by pandas or anything else.  Once #37 is in place, such support could be added, but I don't see it as the highest priority.  An array of datetime instances is a slow, bulky, and cumbersome way to specify a large number of times.  np.datetime64 is more efficient, but als

[2016-04-25 18:49] efiring commented on #3
@saulomeirelles or @wesleybowman I think this issue is obsolete and can be closed.

[2016-04-25 19:13] saulomeirelles commented on #2
Good point. I did not realize that by that time.

[2016-04-25 20:42] #3 closed

[2016-05-19 21:16] wesleybowman opened #38 "The Notebooks link at the bottom of the README.rst doesn't link to the notebooks."
This is a small problem. Received an email about no links to the notebooks (I think).

On the README it links to
http://nbviewer.jupyter.org/github/wesleybowman/UTide/tree/npz/notebooks/

and it should link to
https://nbviewer.jupyter.org/github/wesleybowman/UTide/tree/master/notebooks/

Creating an issue just to document

[2016-05-19 21:19] #38 closed

[2016-12-22 13:04] pwcazenave opened #39 "Using UTide.reconstruct with other harmonic constituents."
For reasons with which I won't bore you, I'd like to use UTide to predict tidal elevations from another source of harmonic constituent amplitude and phases (namely the TPXO data).

For `reconstruct()`, I need to supply the `coef` `Bunch` with a number of keys. I've figured out what most of those are, but I'm a bit stuck on the confidence intervals. I don't think the TPXO data have confidence inter

[2016-12-23 20:22] efiring commented on #39
The confidence intervals are needed by `reconstruct` only if you want the constituents to be auto-selected based on a signal-to-noise ratio estimate.  If you are using TPXO, I suspect you don't want this, in which case you can bypass the code that accesses the confidence intervals by including an explicit constituent list as a 'cnstit'  kwarg to `reconstruct`.  (This is based on a quick look at th

[2016-12-23 20:24] efiring commented on #39
Also, I may be able to make a simple modification that would make the use of the 'cnstit' kwarg unnecessary here. I will try to look at that some time during the next few days.  If you don't see a PR for it, send me a reminder.

[2016-12-23 22:00] pwcazenave commented on #39
Thanks for the pointer.

I've changed my code to take the `constit` kwarg in `reconstruct` but got a key error:

[code]

I set the intervals (amplitude and phase) to zero and it seems to work, but I'm not sure if that's a valid approach.

[2016-12-23 22:11] efiring commented on #39
The code is presently looking for 'cnstit' here, not 'constit'.  (The API and internal code are still in an intermediate state, not fully pythonized.)

I would expect setting the intervals to zero would give the correct result, but with numpy divide-by-zero warnings along the way.

[2016-12-24 13:27] pwcazenave commented on #39
Ah, sorry!

Yes, I get lots of divide by zero errors. I suppose checking whether the confidence intervals are zero before doing the calculation would do away with those but might also slow things down.

[2016-12-24 17:19] efiring commented on #39
There are better ways to handle your use case, coming soon.

[2016-12-24 20:50] pwcazenave commented on #39
Lovely. Thanks!

[2016-12-24 21:15] efiring commented on #39
See #41. It should mean that you can leave the confidence intervals out entirely if you call `reconstruct(..., min_SNR=0)`, or if you supply a list of constituent names in a `constit` kwarg (with the 'o', no longer 'cnstit', and now documented.)  Testing is still minimal, however.

[2017-09-26 22:20] parkermac opened #44 "Problem running utide"
I'm trying to use your utide and can't get it to work.  I use python 3.6, anaconda distribution, and installed utide from the command line as "pip install utide"

I read in a year-long tidal time seriesand make t and z vectors that are standard one-dimensional ndarrays, but get the error messages below.  I figure the problem may be with my installation, or my python version, or my code, but I thou

[2017-09-27 02:15] efiring commented on #44
I suspect this is a bug that we have fixed, and we need to do a tag-and-release.
In the meantime, please try the master branch here.

[2017-09-27 05:03] wesleybowman commented on #44
Agreed. 32 commits on master since the last, and we haven't put new commits on in a while now.

@parkermac if you try master and it succeeds, please report back :+1:

[2017-09-27 05:04] wesleybowman opened #45 "Update the README to include conda install instructions"
We are a part of the condaforge, so we should make sure our users know they can use conda to install the package.

[2017-09-27 05:07] wesleybowman commented on #45
I think we can go a little further than

[2017-09-27 12:15] ocefpaf commented on #45
Oh dear! We need to remove any reference to the IOOS channel ASAP! I'll send a PR.

It is not maintained for years since we migrated to `conda-forge`.

[2017-09-27 12:22] ocefpaf commented on #44
I am :+1:  to always [RERO](https://en.wikipedia.org/wiki/Release_early,_release_often)

[2017-09-27 13:00] ocefpaf opened #47 "Failure with numpy 1.13"
We have a failure in Travis-CI when using the latest `numpy`:

[code]

Full log https://travis-ci.org/ocefpaf/UTide/jobs/280403569

I'll take a look soon, we should fix that before a new release.

[2017-09-27 17:48] parkermac commented on #44
Success!!  Instead of using "pip install utide" to get the code I cloned the repo and then did "python setup.py install" (as the instructions said I should.  Then my test code worked correctly.  I will let you know if the results look any different from the matlab version with the same input data.

[2017-09-27 17:53] ocefpaf commented on #44
@parkermac note that `python setup.py install` is slowly being deprecated.
You can use: `pip install .` to install from the current directory or, if you want to get fancy,
`pip install git+https://github.com/wesleybowman/UTide.git` to install directly from the repo's `master` branch without cloning.

[2017-09-27 18:07] parkermac commented on #44
Thanks for the tip.

[2017-09-28 05:32] wesleybowman commented on #44
@parkermac thanks! and thanks for the issue!

[2017-09-28 05:33] wesleybowman commented on #44
@parkermac I am going to close this issue, but feel free to put your results here.

[2017-09-28 05:33] #44 closed

[2017-09-28 05:34] wesleybowman commented on #45
I just checked, and right now through `conda-forge` we have exactly

:tada:

Link: https://anaconda.org/conda-forge/utide

[2017-09-28 10:23] ocefpaf commented on #45
Sure. I don't really have a strong preference when it comes to badges but I think that at least the license badge is nice to have at the top of the REAME.

[2017-09-28 10:49] #45 closed

[2017-09-28 10:49] #47 closed

[2018-02-09 10:37] apatlpo opened #53 "README may need minor update"
The example provided fails with:
[code]

[2018-02-18 09:11] wesleybowman commented on #53
@ocefpaf could you check this out?

[2018-02-21 17:58] ocefpaf commented on #53
Indeed the tests are no longer shipped as a module since we added the CI testing.
We should remove that from the README. PR soon.

[2018-02-25 04:35] efiring commented on #39
@pwcazenave Can this issue be closed now?

[2018-02-25 20:51] pwcazenave commented on #39
Yes.

[2018-02-25 20:51] #39 closed

[2018-02-25 21:03] #53 closed

[2018-06-21 13:17] apatlpo opened #60 "lat=0 issue:"

[2018-06-21 13:33] apatlpo commented on #60
Substituying
https://github.com/wesleybowman/UTide/blob/82fd9b79e7968f1ad30cf6fce7fdb7fdaa11f53f/utide/harmonics.py#L125
by:
[code]

[2018-06-21 13:33] apatlpo commented on #60
I can push a PR if you want me to

[2018-06-21 13:36] apatlpo opened #61 "crash with 0 time series"
The following code crash:
[code]
with the following error:
[code]

[2018-06-21 13:37] apatlpo commented on #61
Couldn't this case be catched "somehow"?

[2018-08-03 10:27] pwcazenave opened #63 "Using twodim with amplitue/phase from another source for predicting currents"
I'm trying to predict `u` and `v` velocity components from amplitude and phases from a netCDF file for a range of positions.

As such, I have arrays of latitudes (dimension = `[nx]`), amplitudes (`[nx, nconsts]`) and phases (`[nx, nconsts]`).

With some fiddling, I can make a Bunch as follows for defined set of constituents to use:

[code]
Now, when I call `reconstruct`:

[code]
I got the followin

[2018-08-03 16:18] efiring commented on #63
To track down the problem, I suggest that you use `solve` to generate a set of inputs (mainly `coef`) with the same dimensionality of variables that you are trying to work with.   Then compare dimensionalities with your synthesized inputs. I suspect that somewhere in the expected coefs there is a 2-D array, but a 1-D array in your hand-made version.  That is preventing the necessary broadcasting i

[2018-08-03 16:24] pwcazenave commented on #63
That's a good idea. I'll give it a go next week and see if I can figure out where I'm going wrong.

[2018-09-17 03:28] gdshen opened #64 "how to specify only calculate M2, S2, K1, O1"
I am wondering how to specify to calculate only a small number tides, instead of many tides?

[2018-09-17 03:32] efiring commented on #64
From the docstring for `solve()`, this describes the keyword argument you can use to specify the constituents you want to include in the solution:
[code]

[2018-09-17 03:32] #64 closed

[2018-09-17 03:42] gdshen commented on #64
Thanks very much. This solves my problems.

[2018-11-06 16:03] sstaehler opened #65 "Tidal constituents of absolute current velocities?"
I am having a dataset of noise on a geophysical ocean bottom station,
which is proportional to the absolute value of the bottom current.

I would like to extract tidal constituents from this dataset, however,
given that I do not have the current vector, but the absolute value,
this is not quite straightforward (as a rough guess, I would expect to
see peaks at twice the frequency, plus tons of over

[2018-11-06 16:57] efiring commented on #65
I think your expectation is correct: the tidal harmonic frequencies will be doubled, and there will be harmonics and sum and difference frequencies.  The first thing to do is a conventional spectral analysis to see what you actually have--how prominent are the main peaks, and how much spectral broadening is there.
Then, you could use simple least-squares fitting or complex demodulation to estimate

[2019-05-08 01:29] dnowacki-usgs opened #67 "ValueError when trying to import with recent numpy"
When trying to `import utide` on a clean conda env with a recent version of numpy (e.g. 1.16.3) I get the following error:

[code]

Quick Googling suggests this started in numpy [1.16.3](https://stackoverflow.com/questions/55890813/how-to-fix-object-arrays-cannot-be-loaded-when-allow-pickle-false-for-imdb-loa).

[2019-05-08 05:48] wesleybowman commented on #67
Just taking a quick look, it seems like it comes from this line:
https://github.com/wesleybowman/UTide/blob/5322b0b9fbc837e00d7e345d0b1d364ec278d54c/utide/utilities.py#L283

If we do
[code]
then this might fix the issue

[2019-05-08 06:35] efiring commented on #67
Excerpt from the `np.load` docstring for 1.16.3 confirms the suggestion:
[code]
So yes, we need to add the kwarg.

[2019-05-08 17:35] #67 closed

[2019-05-08 21:01] dnowacki-usgs opened #69 "test_roundtrip() failing on my machine"
In working on #68, I ran the test suite (`pytest tests`) on my local machine, and `test_roundtrip()` in `test_solve.py` failed:

[code]
But if I simply run `pytest tests/test_solve.py` it passes:
[code]

Despite the test weirdness, it seemed like this change was not related to the `np.load` issue I was working on, so I made the PR and it passed the Travis/Appveyor tests. Any idea on why this test

[2019-05-08 21:54] efiring commented on #69
I can't reproduce this on my machine, after updating and installing.   Very strange.

[2019-05-09 00:49] ocefpaf commented on #69
Same here on Linux. Everything passes just fine. Here is my env info:

[code]

[2019-05-09 16:47] dnowacki-usgs commented on #69
Hmm, this _is_ strange. Here are full details of my installation and the errors, where running the full suite fails at `pytest/test_solve.py` but passes when calling that file directly with `pytest`.

# Running `pytest tests` (fails)
[code]

# Running `pytest tests/test_solve.py` (passes)
[code]

# Output of `conda list`
[code]

[2019-05-09 18:55] ocefpaf commented on #69
I noticed that you edited the issue and the one I got in the e-mail had

[code]

Maybe you are mixing envs and/or packages with PyPI?

[2019-05-09 19:02] efiring commented on #69
A shot in the dark, maybe worth a try: execute "git clean -dfx" to make sure there is nothing odd hanging around in your source repo.

[2019-05-09 21:29] dnowacki-usgs commented on #69
@ocefpaf In the original env somehow the scipy requirement wasn't met by conda and it was using a version from PyPI. So I deleted the env, recreated, installed utide with `--no-deps` and re-ran to ensure that scipy was coming from conda-forge. Anyway, the problem remains with the updated, current output of `conda list` which has scipy from conda-forge.

@efiring Just ran a `git clean -dfx`, it rem

[2019-05-30 12:47] caiodu opened #72 "When using .reconstruct to predict tide it slowly decreases down to very large numbers"
When I use .reconstrut to predict tides over the period of my real data, the predicted data on the time series slowly drifts down to very large numbers, does anybody had this issue ? I already verified the code and all the setups, tried numbers of examples but it never works, I am able to get good data to predict the tide for the exact time period of my real data, but when I extrapolate to time pe

[2019-05-30 17:39] efiring commented on #72
I suspect that what is happening is that the long-period constituents are being included in the fit, but they are actually picking up energy from non-tidal parts of your record. How long is your record, and what is the list of constituents you are fitting?  What arguments are you providing to `solve`?

[2019-05-30 19:26] caiodu commented on #72
First thank you for your quick reply, well I've tried a whole bunch of different settings both on '.solve' and '.reconstruct', it is wierd that when I use t_tide I get pretty good results on predicting my tide, they match NOAA's prediction, but on U_tide I'm getting this weird pattern treding way down on future predictions and way up on past predictions, and it doesn't matter the size of my record

[2019-05-30 20:48] efiring commented on #72
Try `solve` with kwarg `trend=False`.  It defaults to True.

[2019-06-04 08:28] hadfieldnz opened #73 "Utide 0.2.3 incompatible with numpy 1.6.3 or greater"
I have utide 0.2.3 installed with Miniconda. With numpy 1.6.2, I can import utide with no problems. With numpy 1.6.3 or 1.6.4 I get the following:

[code]

[2019-06-04 08:54] wesleybowman commented on #73
Hmm, we had a similar issue recently: https://github.com/wesleybowman/UTide/issues/67

But I thought we had fixed that. Are you sure you are using the most recent version of UTide?

[2019-06-04 16:26] efiring commented on #73
It looks like what is needed is just a release tag. This was fixed after v0.2.3 was released.

[2019-06-04 16:47] ocefpaf commented on #73
We have a tag and there are packages on PyPI and conda-forge for 0.2.3.

https://pypi.org/project/UTide/0.2.3/

[2019-06-04 16:56] efiring commented on #73
But that was before the pickle problem was fixed.
[code]

[2019-06-04 17:07] ocefpaf commented on #73
Ah. OK. Sorry. For some reason I thought that had this fix. Issuing a tag now.

[2019-06-04 17:07] #73 closed

[2019-06-06 14:47] caiodu commented on #72
Good stuff mate, it worked here, flawless. Thank you very much

[2019-06-06 14:48] #72 closed

[2019-08-30 02:12] naught101 commented on #39
@pwcazenave: Did you manage to get the TPXO data working with UTide? A gist or similar script would be really useful, if you did. Would save me a lot of time figuring out what goes where :)

[2019-08-30 02:21] naught101 commented on #39
Ah, looks like there's some stuff in here: https://github.com/pwcazenave/PyFVCOM/blob/master/PyFVCOM/grid/_grid.py#L1157

[2019-08-30 02:33] efiring commented on #39
If what you want is tide heights and velocities based on the TPXO models (but not including the version 8 with its mix of resolutions), see https://currents.soest.hawaii.edu/hgstage/pytide/.  It provides a very fast python interface to the models.  It includes Fortran extension code, so it can be compiled reasonably easily on OS X and Linux, but Windows is not supported.  Installation instructions

[2019-08-30 02:45] naught101 commented on #39
Oh, excellent, that's exactly what I want. Thank you!

[2020-01-06 14:58] grinsted opened #76 "better solve performance with lsqr"
I get better performance when I use the scipy.sparse.linalg.lsqr iterative solver instead of np.linalg.lstsq.

I get 16.7s vs 19.8s for a test with a big data set.

[2020-01-06 16:12] efiring commented on #76
That's a very small difference.  And, I'm puzzled by your use of a sparse solver; the matrix involved is not sparse.

[2020-01-06 16:49] grinsted commented on #76
Those time measurements includes "matrix prep" time which makes up about two thirds of the total run time for solve. When I only measure the LSQR vs LSTSQ statetement then the relative improvement is much greater (9s vs 14s -on another machine). That is IMO substantial. Matrix prep time can also be optimized i believe.

I looked into LSQR because I had prior experience (from matlab) where it gave

[2020-01-07 07:43] grinsted commented on #76
Here's a little snippet comparing performance of LSTSQ, LSQR, LSMR: https://github.com/scipy/scipy/issues/11204

For matrices that are 100000x20 and 100000x60 then i get:
[code]

[2020-01-08 16:20] rsignell-usgs opened #77 "Allow multiple columns of time series as input for prediction"
We have a use case where we want analyze the tides at each grid cell in a numerical model, so we have lots of time series with the same time base.  How hard would it be to allow a matrix (or list of arrays) as input data to the solver?

[2020-01-08 16:53] efiring commented on #77
The present code is heavily based on working with a single series at a time, and it is doing all sorts of things that you would not actually want for your application.  Rather than trying to work more vectorization into the present code, I think that what is needed is a separate function specifically designed for the case where you specify the set of constituents, generate the pseudo-inverse of th

[2020-01-10 16:04] rsignell-usgs commented on #77
So I could just do a least squares fit to the tidal constituents at all grid cells and then do the astronomical adjustments based on a single time series using `utide`.   Is that what you are thinking @efiring?

[2020-01-10 16:54] rsignell-usgs opened #78 "solve failing when conf_int='none'"
solve is failing when `conf_int='none'`.

For example, if I try changing `conf_int='linear'` to `conf_int='none'` in cell [5] of the [utide_uv_example.ipynb notebook](https://github.com/wesleybowman/UTide/blob/master/notebooks/utide_uv_example.ipynb), I get:

[code]

[2020-01-10 20:55] efiring commented on #77
Not sure what you mean by "astronomical adjustments".  What I have in mind is factoring out the calculation of the model matrix, "B", which is roughly lines 229-277 in _solve.py.  Then write a completely new main entry function, e.g., "solve_vectorized", that would take the minimum arguments required for the special case where the constituents to use are specified, there are no missing values in t

[2020-01-14 20:48] #78 closed

[2020-09-05 09:40] clive3 opened #85 "verbose not implemented"
Hello - I noticed that you have not taken the verbose value that I have set in the newopts.

I have added the following line in my local version:

def _reconstruct(t, goodmask, coef, verbose, constit, min_SNR, min_PE):

    twodim = coef['aux']['opt']['twodim']
    verbose = coef['aux']['opt']['newopts']['verbose']

[2020-09-06 01:58] efiring commented on #85
The 'verbose' argument is supplied directly as a keyword argument to `reconstruct`.  Why do you want to override that with a value from 'coef'?
Ideally, it would not even be there; the design has only partly evolved from its Matlab heritage, and both the 'verbose' argument and the messy coef and various options structures reflect that.

[2020-09-08 21:09] efiring commented on #65
Closing as "answered"; I don't think there are any action items for us here.

[2020-09-08 21:09] #65 closed

[2020-09-08 21:11] #69 closed

[2020-09-08 21:11] efiring commented on #69
I wrote #89 after Travis started failing, without realizing there was an issue for it!

[2020-09-08 21:27] efiring opened #88 "Improve time input handling"
Matplotlib now has a settable epoch for its floating point date-time, and numpy datetime64 seems to have settled down to a usable, if not ideal, state, so it is time for some improvements in utide's handling of time inputs.

[2020-09-08 21:29] efiring commented on #2
Closing; I opened #88 as an updated version, since a lot has changed since this one was opened.

[2020-09-08 21:29] #2 closed

[2020-09-08 21:30] efiring commented on #85
I don't think there is anything we need to do here so I am closing this; feel free to reopen it if needed.

[2020-09-08 21:30] #85 closed

[2020-09-08 21:39] efiring commented on #63
Closing; feel free to reopen this if needed.

[2020-09-08 21:39] #63 closed

[2020-09-08 22:06] efiring commented on #76
Closing, see https://github.com/wesleybowman/UTide/pull/81#issuecomment-689161096.  This can be reopened as needed.

[2020-09-08 22:06] #76 closed

[2020-09-09 06:32] clive3 commented on #85
i agree but because i am using the product to reconstruct tides using a grid produced by Matlab with batch procerssing I am having to make a few local changes

thanks

[2020-09-09 13:05] sstaehler commented on #65
Thanks for the initial answer. That was actually quite helpful to me and I should have written this in here!

[2020-09-10 02:20] DanCodiga commented on #77
If I understand what you've asked for Rich, it is something I included in the Matlab UTIde functions. It's explained in the tech report. May not be the solution you need but I thought I'd just mention it.

[2021-01-21 16:15] ltestut opened #89 "warning with last version of numpy"
When updating with the last numpy version '1.20.0rc2' I've got a error message from Utide
utide\harmonics.py:184: RuntimeWarning: invalid value encountered in fmod  np.fmod(V, 1, out=V)
 It is not critical yet, and it works, but in the futur ...

[2021-01-21 16:58] efiring commented on #89
Was this triggered by the test suite?

[2021-01-22 09:46] ltestut commented on #89
No it was not trigered by the test suite. I solve the issue when I downgrade numpy to version 1.19.5

[2021-01-22 17:17] efiring commented on #89
Please supply a minimal but complete example that causes the warning to be generated.

[2021-03-04 15:09] JueLinYe opened #90 "utide.solve and utide.construct"
Greetings! May I ask a question about utide.reconstruct? I have a 1-d data of sea level and I am trying to obtain the astronomical tide by using uTide. My code more or less looks like this.

     time1=mdates.date2num(data.index.to_pydatetime())

        coef1=utide.solve(time1,data['SeaLevel'].values,
                          lat=lat1,
                          method='irls',

[2021-03-04 18:18] efiring commented on #90
Please supply a very minimal, but still complete, example that illustrates the question.  Also, look at tests/test_solve.py, which illustrates a round-trip in which the results of solve are used in reconstruct.

[2021-03-07 12:20] aaretxabaleta-usgs opened #91 "Trying to reorder constituents as in ‘OrderCnstit’"
As @rsignell-usgs mentioned in a previous issue, we are trying to analyze the tides at each grid cell in a numerical model solution. We run utide for each grid point but the order of the constituents can be different for each grid point. In the Matlab code, there is the option ‘OrderCnstit’ that allows passing a specified order of constituents when constit is not set to 'auto'. Is there a similar

[2021-03-07 19:53] efiring commented on #91
Yes, there are some options that have not yet had their names pythonized and added to the docstring, and this is one.  It's all lower case: "ordercnstit", and it can be None, "frq", "snr", or a list of constituent names like ["M2", "S2"].

However... if I were doing this calculation for numerical model output, I would not use UTide directly; I would just extract and vectorize the underlying least-

[2021-03-08 18:35] ocefpaf commented on #91
@efiring I'm not sure we are really allowing that keyword. We have `strict=True` hardcoded in `Bunch` and that throws an error when an unexpected key is used. See https://github.com/wesleybowman/UTide/pull/93

[2021-03-08 19:42] efiring commented on #91
OK, I will make a PR to add it properly.

[2021-03-08 19:43] ocefpaf commented on #91
BTW, I'm moving our tests to GitHub Actions. PR soon... (Travis-CI has become unbearable for OSS projects lately.)

[2021-03-08 22:06] efiring commented on #91
It turns out, with simple testing, that this ordering business opens up quite a rats' nest of interacting options and confusing code.  This may take some time to sort out.

[2021-03-08 22:53] #89 closed

[2021-03-09 14:41] rsignell-usgs commented on #77
Thanks @DanCodiga , would you have any bandwidth to contribute this here?   It would be huge benefit to the modeling community!

[2021-03-09 17:42] efiring commented on #77
@rsignell-usgs Please clarify: is what I described above what you are looking for?  What *do* you mean by "astronomical adjustments"?

[2021-03-10 12:33] DanCodiga commented on #77
I do aspire to get back on to some tidal analysis work but unfortunately it's looking like it won't be for at least another few months or longer. Would like to update the Matlab version of UTide-- and also to help flesh out the python version so it has all (or at least most) of the features in the Matlab version (unless that's too disruptive to what the community has built... really appreciate wha

[2021-03-11 00:05] #91 closed

[2021-03-15 21:17] JueLinYe commented on #90
Thank you so much for the prompt reply. I have been running test_solve.py and looking into my code and data. I think that the technical problem is mine, and it does not seem to do with utide, for now. I have some issues with SA and SSA, but I will ask again if I am sure that there is something that I could contribute to utide.

Best regards,

Jue

[2021-04-07 19:54] jamal919 commented on #88
A pull request is pending covering this issue - https://github.com/wesleybowman/UTide/pull/98

[2021-10-19 15:00] AmeyV05 opened #100 "New opts not updated! WIP?"
Hi,

I am using UTide for python for sometime now! And I have noticed that all the kwargs are not yet available. For instance, if I run the solve function with nodiagn as an argument it runs into error.
![image](https://user-images.githubusercontent.com/28229301/137937198-79422bac-c388-4a5c-a263-fdef0a6ea143.png)

I am guessing this is probably due to the newopts dictionary which is still a TODO?

[2021-10-20 01:29] sspagnol opened #101 "test_periodogram fails with lowlevel scipy.signal.lombscargle error"
If I run the tests (python 3.9.7, scipy 1.7.1) have a failure from test_periodogram.py with error messages like

[code]

Using comment in https://github.com/scipy/scipy/issues/14420, in periodogram.py modified parameters passed to signal.lombscargle to

[code]

Don't know if there a smarter way to achieve this, and once (if?) scipy.signal + pythran interaction gets sorted assume the xr/xi rewrite

[2021-10-20 06:52] #90 closed

[2021-11-10 16:24] Chtululu opened #102 "Python epoch and phase computation"
Hello,

_Epoch question_ :
In the solve function the default epoch is defined as "The default corresponds to the Python standard library `datetime` proleptic Gregorian calendar, starting with 1 at 00:00 on January 1 of year 1"
On the other hand, in the notebook [["utide_real_data_example.ipynb"](https://nbviewer.org/github/wesleybowman/UTide/blob/master/notebooks/utide_real_data_example.ipynb)](ur

[2021-11-16 09:33] Chtululu commented on #102
The phase given by the code consider the epoch starting with 1 at 00:00 on January 1 of year 1 when python date2num starts with 0 at 00:00 on January 1 of year 1970.

As I use date2num I also need to use the keyword 'epoch='1970-01-01'' in coeff calculation to recover the correct phase. (This should also be the case in the notebook example)

[2021-11-16 09:33] #102 closed

[2022-03-30 15:48] JueLinYe opened #103 "solve and reconstruct crashing despite "try...except""
Dear all,

Greetings! Thank you so much for your hard work keeping this forum. I would appreciate any guidance on the following issue. My data and code look like this:

time1=
[16707.62164352 16707.62233796 16707.62302083 ... 16800.99834491
 16800.99903935 16800.9997338 ]

df_year=
                       data  quality_old  quality RES
date
2015-09-29 14:55:10   689.0          1.0      1.0
2015-09-

[2022-04-09 19:59] efiring commented on #101
I turns out that we still get a failure with scipy 1.7.3 because the second argument is a view.
I submitted an issue to scipy: https://github.com/scipy/scipy/issues/15964

[2022-04-11 16:45] #101 closed

[2022-04-24 11:28] jamal919 opened #106 "Referencing Utide"
I was wondering if there is a preferred language for referencing utide (this package) in a paper. I only found the reference to the original MATLAB code report by Codiga 2011. I suppose if I use python-utide, I need to refer to both report, and the software. Suggestion?

[2022-04-27 20:29] efiring commented on #103
It looks like you are using data with 1-minute sampling.  Have you tried averaging it down to hourly?  If the problem is memory usage, I would expect that to take care of it.
(Sorry for the slow response to your question.)

[2022-04-27 20:34] efiring commented on #88
Closed by #98.

[2022-04-27 20:34] #88 closed

[2022-05-03 08:41] JueLinYe commented on #103
That would do the job. Thank you!

[2022-05-03 09:32] #103 closed

[2022-05-10 05:37] Diljit123 opened #111 "Error in Finding coefficient"
![image](https://user-images.githubusercontent.com/51814537/167553439-b9e21616-bd07-4d12-8896-1baf1a66a952.png)

I am getting this error while running thr utide code in Jupyter. The tidal heights are returned as zero values. How can it be solved.

[2022-05-10 08:05] Diljit123 commented on #111
![image](https://user-images.githubusercontent.com/51814537/167579702-cc081cee-de3f-452a-b4b6-c857a2d1b331.png)

DT_hour is an array of python datenum values from the date_rng hourly.

[2022-05-10 16:59] efiring commented on #111
What versions of utide and matplotlib are you running?

[2022-05-11 06:57] Diljit123 commented on #111
I am using utide version 0.3.0 and matplotlib version 3.5.2.

[2022-05-11 07:36] efiring commented on #111
Good, all up to date!  Try using your date_rng_hourly as the time array for solve and reconstruct.  With 0.3.0 that is supposed to work.  Also with this version, use of a datenum array should work *if* you provide the correct "epoch" keyword argument.  Matplotlib changed its default epoch some time back, so it no longer matches the utide default, hence the need to include the keyword argument.  Wi

[2022-05-11 10:10] Diljit123 commented on #111
Thank you for the solution. This worked.

[2022-05-11 10:10] #111 closed

[2022-09-23 14:24] poidl commented on #10
This is an old issue but very view results come up when searching for 'utide octave', so I thought it may still be seen by people  attempting to compare the python code (great project!) with the Matlab code running in Octave. This is actually a note on octave I guess, but useful for people who want to do testing of the python version and have no Matlab.

I  noticed a difference between Octave and

[2022-11-11 09:41] HVEC-lab opened #112 "All results empty"
Version 0.3.0 in some cases returns empty results. As yet I have not figured out what triggers this. Will return to version 0.2.6 for now and will let you know if I find out more.